body{
    background: black;
    color: white;
    font-family: "Arbutus", serif;
    
}
header{
    border-bottom: solid 2px blue;
    margin: 0px;
    padding: 20px;
    font-size: 32px;
}
div{
    background: orangered;

}
iframe{
    padding: 20px;
    background: rgb(0, 255, 8) 
}
h1{
    text-align: center;
}

.texto-chamada{
    display: flex;
    justify-content: center; 
}
.videoPele{
    display: flex;
    justify-content: center;  
}