body{
    background: black;
    color: white;
}
header{
    border-bottom: solid 2px blue;
    margin: 0px;
    padding: 20px;
}
div{
    background: orangered
}
iframe{
    padding: 20px;
    background: rgb(0, 255, 8) 
}